<div class="flex justify-between flex-wrap mt-8 w-full items-center max-w-4xl flex-col">
  <div class="my-8 w-full">
    <!-- Add mb-8 class to create margin below the h2 element -->
    <h2 class="text-4xl text-gray-800 font-medium mb-8">Revenue : </h2>
    <div class="w-full" data-controller="dashboard" data-dashboard-revenue-value="<%= @revenue_by_day.to_json %>">
      <canvas id="revenueChart" style="width: 300px; height: 50px;"></canvas>
    </div>
  </div>
  <!-- Add mt-8 class to create margin above the div element -->
  <div class="mt-8"></div>
  <div class="flex flex-col w-full">
    <!-- Add mb-8 class to create margin below the h2 element -->
    <h2 class="text-4xl text-gray-800 mb-8 font-medium">Recent Unfulfilled Orders : </h2>
    <!-- Add mx-auto class to center the table -->
    <div class="overflow-x-auto mx-auto">
      <table class="min-w-full bg-gray-100" style="border-collapse: separate; border-spacing: 0;">
        <thead>
          <tr class="text-gray-800">
            <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Order ID</th>
            <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Customer</th>
            <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Date</th>
            <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Amount</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <% @orders.each do |order| %>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= link_to order.id, admin_order_path(order), class: "underline" %>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= order.customer_email %>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= order.created_at.strftime("%B %d, %Y %H:%M") %>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= (order.total/100.0).to_s %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
